.body {
  min-height: 100vh;
  background-color:  #7b7b7b;
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
}

.h1 {
  font-size: 64px;
}

.goHome {
display: block;
width: 100%;
padding: 24px 40px;
background: 0 0;
border: 1px solid #ffffff;
text-decoration: none;
border-radius: 8px;
-webkit-transition: border-color .2s;
transition: border-color .2s;
font-size: 30px;
line-height: 44px;
text-align: center;
color: #ffffff;
cursor: pointer;
}
